@import 'variables';

/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,h2,h3,h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: $h1-font-size;
  text-align: center;
}

.section__subtitle{
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
  text-align: center;
}

/*==================== LAYOUT ====================*/

.container {
  max-width: 768px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}

/*========== Button Dark/Light ==========*/

.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1rem;
  color: $title-color;
  margin-right: $mb-1;
  cursor: pointer;
}

.change-theme:hover{
  color: $first-color;
}
