<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Fiden</h1>
        <span class="footer__subtitle">Développeur Full-stack</span>
      </div>

      <ul class="footer__links">
        <li>
          <a href="#services" class="footer__link">Accueil</a>
        </li>
        <li>
          <a href="#services" class="footer__link">Projets</a>
        </li>
        <li>
          <a href="#portfolio" class="footer__link">Blogs</a>
        </li>
        <li>
          <a href="mailto:fidenhan@gmail.com" target="_blank" class="footer__link">Contact</a>
        </li>
      </ul>
    </div>
    <p class="footer__copy">Thème utilisé: <a class="footer__source" href="https://github.com/bedimcode/responsive-portfolio-website-Alexa" target="_blank">Ici</a>
      <br>Copyright &#169; 2022 Fiden. All right reserved
    </p>
  </div>
</footer>
