<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Fiden</h1>
        <span class="footer__subtitle">Développeur Full-stack</span>
      </div>

      <ul class="footer__links">
        <li>
          <%= link_to 'Accueil', root_path, class: 'footer__link' %>
        </li>
        <li>
          <%= link_to 'Projets', projects_path, class: 'footer__link' %>
        </li>
        <li>
          <%= link_to 'Accueil', posts_path, class: 'footer__link' %>
        </li>
        <li>
          <%= link_to 'Accueil', new_contact_request_path, class: 'footer__link' %>
        </li>
      </ul>
    </div>
    <p class="footer__copy">Thème utilisé: <a class="footer__source" href="https://github.com/bedimcode/responsive-portfolio-website-Alexa" target="_blank">Ici</a>
      <br>Copyright &#169; 2022 Fiden. All right reserved
    </p>
  </div>
</footer>
