<!--==================== NAVBAR ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">Fiden</a>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">
            <i class="fas fa-home nav__icon"></i> ACCUEIL
          </a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link">
            <i class="fas fa-portrait nav__icon"></i> PROJETS
          </a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">
            <i class="fa-brands fa-microblog nav__icon"></i> BLOGS
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">
            <i class="fas fa-id-card nav__icon"></i> CONTACT
          </a>
        </li>
      </ul>
      <i class="fas fa-times-circle nav__close" id="nav-close"></i>
    </div>
    <div class="nav__btns">
      <!-- Theme color switch -->
      <i class="far fa-moon change-theme" id="theme-button"></i>

      <div class="nav__toggle" id="nav-toggle">
        <i class="fas fa-cubes"></i>
      </div>
    </div>
  </nav>
</header>
